<h1><%= @species.name %></h1>

<p><a href="/species/<%= @species.id %>/edit">Edit</a></p>
<p><a href="/species/<%= @species.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p> <a href="/species">Return to Species listing.</a></p>

<form action="/sightings" method="post">
  <h3>Add a sighting</h3>
  <label for="new_date">Date:</label>
  <input id='new_date' name="sightings[date]" type="datetime">
  <label for="new_latitude">Latitude:</label>
  <input id='new_latitude' name="sightings[latitude]" type="text">
  <label for="new_longitude">Longitude:</label>
  <input id='new_longitude' name="sightings[longitude]" type="text">
  <input id='species_id' name="sightings[species_id]" value="<%= @species.id %>" type="hidden">

  <select>
  <% @regions.each do |region| %>
    <option><%= region.name %></option>
  <% end %>
  </select>

  <button>Create new sighting</button>
</form>

<form action="/regions" method="post">
  <label for="new_region">Create new region</label>
  <input id="new_region" name="regions[name]" type="table">
  <button> Create new region</button>
</form>


<h1>All Sightings</h2>

<ul>
  <% @sightings.each do |sighting| %>
    <% if @species.id == sighting.species_id %>
      <li>
        <% current_species = @all_species.find(sighting.species_id) %>
        <% current_species_name = current_species.name %>

        SPECIES: <%= current_species_name %>
        DATE: <%= sighting.date %>
        LATITUDE: <%= sighting.latitude %>
        LONGITUDE: <%= sighting.longitude %>
        <button><a href="/sightings/<%= sighting.id %>"
        data-confirm="You sure?"
        data-method="delete"
        rel="nofollow">Delete</a></button>
        <button><a href="/sightings/<%= sighting.id %>/edit">Update</a></button></li>
    <% end %>
  <% end %>
</ul>
